<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>NPR News Scrape</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=News+Cycle|Oswald" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" /> 
</head>

<div id="header">
<h1>Article Notes</h1>
    <button><a href="/" id="scrape">Home</a></button>
    <button><a href="/saved" id="savedNotesPage">See Saved Articles</a></button>
</div>

<!-- Pass in data from server.js -->
<div class="text_middle">
    <ul>
        {{#each articleNotes}}
            <li>
            <p><span class="noteTitle">Title:</span> {{this.title}}</p>
            <p><span class="label">Summary:</span> {{this.body}}</p>
            {{!-- <p><a href='/notes/{{this._id}}'>See Full Details</a></p> --}}
            </li>
            <button id='deleteNoteHTML' data-id='{{this._id}}' data-title='{{this.title}}' data-summary='{{this.body}}'
          data-link='{{this.link}}'>Delete Note</button>
        {{/each}}
    </ul>
</div>
